@model ProjetDotN.Models.Produit

@{
    ViewData["Title"] = "Add";
}

<div class="container col-md-6 col-md-offset-3 col-xs-12 ">
    <div class="card">
        <div class="card-header title">
            <i class="fa fa-plus" aria-hidden="true"></i> Ajouter un produit
        </div>
        <form asp-action="Add">
            <div class="card-body">
                <div class="form-row">
                    <label class="control-label col-md-4 col-xs-12">Designation : </label>
                    <input type="text" name="Designation" class="form-control col-md-8 col-xs-12" value="@Model.Designation" />
                    <span asp-validation-for="Designation" class="text-danger errMargin"></span>
                </div>
                <br />
                <div class="form-row">
                    <label class="control-label col-md-4 col-xs-12">Catégorie : </label>
                    <select name="CategorieID" class="form-control col-md-8 col-xs-12">
                        <option value="" selected>choisir une catégorie</option>
                        @{
                            foreach (var c in ViewBag.cats)
                            {
                                <option value="@c.CategorieID">@c.Nom</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="Categorie.Nom" class="text-danger errMargin"></span>
                </div>
                <br />
                <br />
                <div class="form-row">
                    <label asp-for="Prix.Price" class="control-label col-md-4 col-xs-12"></label>
                    <input asp-for="Prix.Price" class="form-control col-md-8 col-xs-12" />
                    <span asp-validation-for="Prix.Price" class="text-danger errMargin"></span>
                </div>
                <br />
                <div class="form-row">
                    <label class="control-label col-md-4 col-xs-12">Vendeur : </label>
                    <select name="VendeurID" class="form-control col-md-8 col-xs-12">
                        <option value="" selected>choisir un vendeur</option>
                        @{
                            foreach (var v in ViewBag.vendeurs)
                            {
                                <option value="@v.VendeurID">@v.Nom</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="Vendeur.Nom" class="text-danger errMargin"></span>
                </div>
                <br />
                <div class="form-row">
                    <label class="control-label col-md-4 col-xs-12">Ville : </label>
                    <select name="VilleID" class="form-control col-md-8 col-xs-12">
                        <option value="" selected>choisir une ville</option>
                        @{
                            foreach (var v in ViewBag.villes)
                            {
                                <option value="@v.VilleID">@v.Nom</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="Vendeur.Ville.Nom" class="text-danger errMargin"></span>
                </div>
                <br />
            </div>
            <div class="card-footer">
                <div class="footerEdit">
                    <input type="submit" value="Sauvegarder" class="btn btn-success float-left" />
                    <a asp-action="Index" class="float-right btn btn-primary">Retourner à  la liste</a>
                </div><br />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}




