@model ProjetDotN.Models.Produit

@{
    ViewData["Title"] = "Edit";
}
<div class="container col-md-6 col-md-offset-3 col-xs-12 ">
    <div class="card">
        <div class="card-header title">
            <i class="fa fa-edit"></i> Editer le produit
        </div>
        <form asp-action="Edit">
            <div class="card-body">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ProduitID" />
                <div class="form-row">
                    <label class="control-label col-md-4 col-xs-12">Designation : </label>
                    <input type="text" name="Designation" class="form-control col-md-8 col-xs-12" value="@Model.Designation" />
                    <span asp-validation-for="Designation" class="text-danger errMargin"></span>
                </div>
                <br />
                <div class="form-row">
                    <label asp-for="Categorie.Nom" class="control-label col-md-4 col-xs-12"></label>
                    <select asp-for="Categorie.CategorieID" name="CategorieID" class="form-control col-md-8 col-xs-12">
                        @{
                            foreach (var c in ViewBag.cats)
                            {
                                <option value="@c.CategorieID">@c.Nom</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="Categorie.Nom" class="text-danger errMargin"></span>
                </div>
                <br />
                <div class="form-row">
                    <label asp-for="Prix.Price" class="control-label col-md-4 col-xs-12"></label>
                    <input asp-for="Prix.Price" class="form-control col-md-8 col-xs-12" />
                    <span asp-validation-for="Prix.Price" class="text-danger errMargin"></span>
                </div>
                <br />
                <div class="form-row">
                    <label asp-for="Vendeur.Nom" class="control-label col-md-4 col-xs-12"></label>
                    <select asp-for="Vendeur.VendeurID" name="VendeurID" class="form-control col-md-8 col-xs-12">
                        @{
                            foreach (var v in ViewBag.vendeurs)
                            {
                                <option value="@v.VendeurID">@v.Nom</option>
                            }
                        }
                    </select>
                    <span asp-validation-for="Vendeur.Nom" class="text-danger errMargin"></span>
                </div>
            </div>
            <div class="card-footer">
                <div class="footerEdit">
                    <input type="submit" value="Sauvegarder" class="btn btn-success float-left" />
                    <a asp-action="Index" class="float-right btn btn-primary">Retourner à  la liste</a>
                </div><br />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}



