@model ProjetDotN.Models.Commande

@{
    ViewData["Title"] = "Delete";
}

    <div class="container col-md-6 col-md-offset-3 col-xs-12 ">
        <div class="card">
            <div class="card-header title">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Vous voulez vraiment supprimer cette commande?
            </div>
            <div class="card-body">
                <dl class="row">
                    <dt class="col-md-4 col-sm-4">
                        @Html.DisplayNameFor(model => model.CommandeID)
                    </dt>
                    <dd class="col-md-8 col-sm-8">
                        @Html.DisplayFor(model => model.CommandeID)
                    </dd>
                    <dt class="col-md-4 col-sm-4">
                        @Html.DisplayNameFor(model => model.Produit)
                    </dt>
                    <dd class="col-md-8 col-sm-8">
                        @Html.DisplayFor(model => model.Produit.Designation)
                    </dd>
                    <dt class="col-md-4 col-sm-4">
                        @Html.DisplayNameFor(model => model.Quantite)
                    </dt>
                    <dd class="col-md-8 col-sm-8">
                        @Html.DisplayFor(model => model.Quantite)
                    </dd>
                    <dt class="col-md-4 col-sm-4">
                        @Html.DisplayNameFor(model => model.Client)
                    </dt>
                    <dd class="col-md-8 col-sm-8">
                        @Html.DisplayFor(model => model.Client.Nom)
                    </dd>
                </dl>
            </div>
            <div class="card-footer">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="CommandeID" />
                    <input type="submit" value="Supprimer" class="btn btn-danger float-left" />
                    <a asp-action="Index" class="float-right btn btn-primary">Retourner à  la liste</a>
                </form>
            </div>
        </div>
    </div>

